/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 2em 0 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  align-self: center;
  justify-content: space-around;

 align-self: auto;
}

.heroes li {
  display: flex;
}



.heroes .name {
  align-self: center;
}



a {
  background-color: #71f4ed;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #0c4f4e;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}



button {
  background-color: #71f4ed;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 10%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.heroes_search
{
   padding: 0;
   
    max-width: 100%;
  
    /* flexbox */
  
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    align-self: auto;
  

}
a:hover {
  background-color: #2ae3ff;
}